div:nth-child(even) {
    background-color: lightgray;
    margin: 10px;
}

div{
    margin: 10px;
}
#cid{
    font-weight: lighter;
}
a {
    background-color:#4CAF50;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    margin: 1em;
  }
  